body{
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.location-outer{
	max-width: 80%;
	margin: auto;
}

.location-inner{

}

.location-items{

}

.location-temp{

}

.temp-main{

}

.location-name{

}

.location-desription{

}

.weather-image{

}

.weather-description{

}

.location-max-min{

}

.temp-max{

}

.temp-min{

}

.location-other{

}

.wind-speed{

}

.wind-direction{

}

.sunrise{

}

.sunset{

}