img{
	height: 10px;
	width: 10px;
}


.location-form {
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
}

.location-form input {
	width: 250px;
}

.location-form button {
	font-weight: normal;
}

.add-loc-button {
	/*background-color: rgb(56, 201, 121);*/
}

.rem-loc-button {
	/*background-color: rgb(247, 40, 17);*/
}