.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.toggle-location {
	background-color: rgba(200,200,200,.3);
	border: 1px double darkgrey;
	border-radius: 3px;
	border-width: 3px;

}