.toggle-location {
	position: absolute;
	top: -10px;
	right: 0;
	border: 1px darkgrey;
	border-radius: 3px;
	border-width: 3px;
	margin: auto;
}

.toggle-location button {
	color: white;
	cursor: pointer;
}