
i {
	margin-right: 5%;
}

.location-container {
	/*display: flex;*/
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;

	max-width: 80%;
	min-height: 25%;
	margin: auto;

	background-color: rgba(200,200,200,.3);
	border-radius: 5px;
	color: white;
	text-shadow: 2px 2px 0px rgb(0,0,0);

	margin-bottom: 2.5%;
}

/* Columns Flexbox */
.col {
	display: flex;
	flex-direction: column;
	flex: 0 1 19%;
	justify-content: space-around;
	align-items: stretch;
	max-width: 19%;

	/*text-align: center;*/
}

/* Indiviual Items within the columns */
.item {
	width: 100%;
	text-align: center;
}

.item-list {
	margin-left: 5%;
}

/* Specific items */
.temp-main {
	text-align: center;
	font-size: 5em;
	font-weight: bold;
}

.degree{
	font-size: 1.25em;
	vertical-align: top;
}

.temp-sub {
	text-align: center;
	font-size: 2.5em;
}

.location-name {
	text-align: center;
	text-transform: uppercase;
}

.weather-image img {
	text-align: center;
	height: 100%;
	width: 100%;
}

.weather-description {
	text-align: center;
}
